

<div class="row">    
	<%= render partial: "large_feed" %>
	<%= render partial: "med_feed" %>
	<%= render partial: "small_feed" %>
</div>
<div class="row">    	
	<%= render partial: "large_feed" %>
	<%= render partial: "med_feed" %>
	<%= render partial: "small_feed" %>
</div>
chrome.css
reset.css