

<div class="row">    
	<%= render partial: "medium_feed" %>
	<%= render partial: "medium_feed" %>
	<%= render partial: "medium_feed" %>
</div>
<div class="row">    	
	<%= render partial: "medium_feed" %>
	<%= render partial: "medium_feed" %>
	<%= render partial: "medium_feed" %>
</div>
