

<div class="row">    
	<%= render partial: "medium_feed" %>
	<%= render partial: "medium_feed" %>
	<%= render partial: "medium_feed" %>
</div>
<div class="row">    	
	<%= render partial: "medium_feed" %>
	<%= render partial: "medium_feed" %>
	<%= render partial: "medium_feed" %>
</div>
<div class="small-11 columns">
	    <select id="e9">
	        <option value="AL">Alabama</option>
	        <option value="WY">Wyoming</option>
	    </select>
</div>	