<div class="row">
	<div class="large-5 columns">
		<a href="#" class="round secondary small button split"><i class="icon-hand-right"></i> My stays<span data-dropdown="drop"></span></a>
		<ul id="drop" class="f-dropdown" data-dropdown-content>
			<li><a href="#">This is a link</a></li>
		    <li><a href="#">This is another</a></li>
		    <li><a href="#">Yet another</a></li>
		</ul>
	</div>
	<div class="large-7 columns" align="right">
		<%= image_tag "cottage.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "pic1.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "cottage.jpg", size: "45x45", :alt => "cottage" %>
	</div>
</div>
<div class="row">
	<hr/>
</div>
<div class="row">
	<div class="large-5 columns">
		<a href="#" class="round secondary small button split"><i class="icon-home"></i> My places<span data-dropdown="drop"></span></a>
		<ul id="drop" class="f-dropdown" data-dropdown-content>
			<li><a href="#">This is a link</a></li>
		    <li><a href="#">This is another</a></li>
		    <li><a href="#">Yet another</a></li>
		</ul>
	</div>
	<div class="large-7 columns" align="right">
		<%= image_tag "pic1.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "cottage.jpg", size: "45x45", :alt => "cottage" %>
	</div>
</div>
<div class="row">
	<hr/>
</div>
<div class="row">
	<div class="large-5 columns">
		<a href="#" class="round secondary small button split"><i class="icon-star"></i> My starred<span data-dropdown="drop"></span></a>
		<ul id="drop" class="f-dropdown" data-dropdown-content>
			<li><a href="#">This is a link</a></li>
		    <li><a href="#">This is another</a></li>
		    <li><a href="#">Yet another</a></li>
		</ul>
	</div>
	<div class="large-7 columns" align="right">
		<%= image_tag "cottage.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "pic1.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "pic1.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "cottage.jpg", size: "45x45", :alt => "cottage" %>
	</div>
</div>
<div class="row">
	<hr/>
</div>
<div class="row">
	<div class="large-5 columns">
		<a href="#" class="round secondary small button split"><i class="icon-save"></i> Searches<span data-dropdown="drop"></span></a>
		<ul id="drop" class="f-dropdown" data-dropdown-content>
			<li><a href="#">This is a link</a></li>
		    <li><a href="#">This is another</a></li>
		    <li><a href="#">Yet another</a></li>
		</ul>
	</div>
	<div class="large-7 columns" align="right">
		<%= image_tag "cottage.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "pic1.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "pic1.jpg", size: "45x45", :alt => "cottage" %>
		<%= image_tag "cottage.jpg", size: "45x45", :alt => "cottage" %>
	</div>
</div>