<div class="row">
	<div class="large-12 columns">
		<h1>My bookings</h1>
	</div>
<div class="row">
	<div class="large-2 columns">
		<ul class="side-nav">
	  		<li><a href="#">Current</a></li>
	  		<li class="active"><a href="#">All</a></li>
	  		<li class="divider"></li>
	  		<li><%= link_to 'New', new_booking_path %></li>
			
		</ul>
	</div>
	<div class="large-10 columns">
		<div class="row">
			<div class="large-12 columns">
				<h4>Three months time</h4>
			</div>
		</div>
	
		<div class="row">
			<div class="large-2 columns">
				<%= image_tag "cottage.jpg", :alt => "cottage" %>
			</div>
			<div class="large-10 columns">
				<h4 class="subheader">Casa Blanca </h4>
				<p class="subheader"><div id="selector">
        <!-- display the countdown timer here -->
    </div></p>
				<p class="subheader">Status: Final payment due of £400. </p>
				<a href="#">Pay now</a>
			</div>
		</div>
	
		<div class="row">
			<div class="large-12 columns">
				<hr/>
			</div>
		</div>
		
	
		<div class="row">
			<div class="large-12 columns">
				<h4>Six months ago</h4>
			</div>
		</div>
	
		<div class="row">
			<div class="large-2 columns">
				<%= image_tag "pic1.jpg", :alt => "cottage" %>
			</div>
			<div class="large-10 columns">
				<h4 class="subheader">Finca Fantastico </h4>
				<p class="subheader">Status: Paid in full</p>
				<p class="subheader">You havent left any feedback. <a href="#">Leave some now</a></p>
			</div>
		</div>
	
		<div class="row">
			<div class="large-12 columns">
				<hr/>
			</div>
		</div>
		
		<div class="row">
			<div class="large-12 columns">
				<h4>Last year</h4>
			</div>
		</div>
	
		<div class="row">
			<div class="large-2 columns">
				<%= image_tag "pic1.jpg", :alt => "cottage" %>
			</div>
			<div class="large-10 columns">
				<h4 class="subheader">Finca Fantastico </h4>
				<p class="subheader">Status: Paid in full</p>
				<a href="#">View feedback</a>
			</div>
		</div>
	
		<div class="row">
			<div class="large-12 columns">
				<hr/>
			</div>
		</div>
</div>
	
</div>
<div class="row">
	<div class="large-12 columns">
		<table>
		  <tbody>
		    <% @bookings.each do |booking| %>
		      <tr>
		        <td><%= link_to 'Show', booking %></td>
		        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
		        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>		
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
	</div>
</div>
