<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-play-sign"></i> Pictures & Video</a></p>
    <div class="content" data-section-content>
	  <ul class="clearing-thumbs" data-clearing>
	    <li><a href="<%=asset_path('pic1.jpg')%>" class="th radius"><%= image_tag(asset_path('pic1.jpg'), size: "100x100")%></a></li>
	    <li><a href="<%=asset_path('pic1.jpg')%>" class="th radius"> <%=image_tag(asset_path('pic1.jpg'), size: "100x100")%></a></li>
	    <li><a href="<%=asset_path('pic1.jpg')%>" class="th radius"><%= image_tag(asset_path('pic1.jpg'), size: "100x100")%></a></li>
	    <li><a href="<%=asset_path('pic1.jpg')%>" class="th radius"><%= image_tag(asset_path('pic1.jpg'), size: "100x100")%></a></li>
	    <li><a href="<%=asset_path('pic1.jpg')%>" class="th radius"> <%=image_tag(asset_path('pic1.jpg'), size: "100x100")%></a></li>
	    <li><a href="<%=asset_path('pic1.jpg')%>" class="th radius"><%= image_tag(asset_path('pic1.jpg'), size: "100x100")%></a></li>
	  </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-money"></i> Facilities</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-map-marker"></i> Map</a></p>
    <div class="content" data-section-content>
		<div class="row">
			<div class="large-12 columns" style="width:500px; height:200px">
				<div id='map'  ></div>
						<script type='text/javascript'>
						var map = L.mapbox.map('map', 'examples.map-uci7ul8p')
						    .setView([40, -100.100], 4);
						</script>
				
			</div>
		</div>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-calendar"></i> Availabiity</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-beer"></i> Local Knowledge</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>