

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="row">
	<div class="large-6 large-centered columns">
    	<div class="row">
        	<div class="large-6 columns">
				<h5 class="subheader">login to lazyvista.com</h5>
			</div>
        	<div class="large-6 columns">
				<%= link_to "Sign in with facebook", user_omniauth_authorize_path(:facebook), :class => "btn-auth btn-facebook" %>
        	</div>
        </div>
	</div>
</div>
<div class="row">
	<div class="large-6 large-centered columns">
		<%= f.label :email%>
		<%= f.email_field :email, :autofocus => true %>
  	</div>
</div>
<div class="row">
	<div class="large-6 large-centered columns">
		<%= f.label :password %> <%= link_to "(forgotten?)", new_password_path('user')%>
		<%= f.email_field :password, :autofocus => true %>
  	</div>
</div>     	
<div class="row">
	<div class="large-6 large-centered columns">
		<% if devise_mapping.rememberable? -%>
			<%= f.label :remember_me %>
    		<%= f.check_box :remember_me %> 
		<% end %>
  	</div>
</div>
<div class="row">
	<div class="large-6 large-centered columns">
		<%= f.submit "Sign in", :class => "button small radius round" %> or <%= link_to('sign up to lazyvista', new_user_registration_path)  %>
  	</div>
</div>     	     	

<% end %>