<div class="row">
	<div class="large-12 columns">
		<dl class="sub-nav">
			<dt>Sort by:</dt>
			<dd class="active"><a href="#">Price</a></dd>
		    <dd><a href="#">Rating</a></dd>
		 </dl>
	</div>
</div>

<div class="row">
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property1" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>	
</div>
<div class="row">
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property1" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>	
</div>
<div class="row">
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property1" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>	
</div>
<div class="row">
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property1" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>	
</div>
<div class="row">
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property1" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>
	<div class="large-4 columns">
  		<div class="panel">
			<%= render partial: "property2" %>
		</div>
	</div>	
</div>

