<!-- Header and Nav -->
  <div class="sticky">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
		  <%= link_to "lazyvista.com", root_path %>
         </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
		
      <!-- Left Nav Section --> 
      <ul class="left">
        <li class="divider"></li>
        <% if !user_signed_in? %>
		<li><a id="owner_link" class="button round" href="#" data-attr="top"> Owner Benefits</a></li>
        <% end %>
      </ul>
	
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
		<li><%= link_to '<i class="icon-globe"></i> search'.html_safe, '/search'%></li>
        <% if user_signed_in? %>
		<li class="divider"></li>
        <li><a href="/messages"><i class="icon-envelope"></i> messages</a></li>
        <li class="divider"></li>
        <li><a href="/bookings"><i class="icon-ticket"></i> bookings</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-group"></i> friends</a></li>
        <li class="divider"></li>
       
		<%# <li><img src= <%= current_user.image alt=height="20" width="20"></li> %>
		
		<li class="hide-for-small has-dropdown">
			<%= link_to(image_tag(current_user.image, :size => "30x30",  :alt => current_user.name), edit_user_registration_path) %>
			 <ul class="dropdown">
	 		<li><a href="#"><i class="icon-cog"></i> owner tools</a></li>
			<li><%= link_to('logout', destroy_user_session_path, :method=>'delete') %></li>
		</ul>
		</li>

		<li class="hide-for-medium-up has-dropdown">
			<%= link_to( current_user.name, edit_user_registration_path) %> 
		</li>

		
        <li class="divider"></li>
      
        <li class="divider"></li>
		<% else %>
 	
		<li class="divider"></li>
	    <li><%= link_to('sign up', new_user_registration_path, :class =>'button')  %></li>
  	  	<li class="divider"></li>
        <li><%= link_to('login', new_user_session_path)  %></li>
		
		<% end %>
      </ul>
    </section>
  </nav>
</div>

<div class="row">
	<div data-alert class="alert-box secondary">
          You have 2 <a href="/messages">unread messages</a> and 1 <a href="/bookings">booking request</a>
          <a href="" class="close">&times;</a>
    </div>
</div>
  <!-- End Header and Nav -->

